<!-- <mat-card>
  <div class="container">
    <h2>Edit Company</h2>
    
    <form (ngSubmit)="updateCompany(updatedCompany)">
      
      <label for="name">Name:</label>
      <input name="name" [(ngModel)]="updatedCompany.name">
    
      <label for="address1">Address1:</label>
      <input name="address1" [(ngModel)]="updatedCompany.address1">
    
      <label for="address2">Address2:</label>
      <input name="address2" [(ngModel)]="updatedCompany.address2">
    
      <label for="city">City:</label>
      <input name="city" [(ngModel)]="updatedCompany.city">
    
      <label for="postal_code">Postal / Zip Code:</label>
      <input name="postal_code" [(ngModel)]="updatedCompany.postal_code">
    
      <label for="country">Country:</label>
      <input name="country" [(ngModel)]="updatedCompany.country">
    
      <label for="currency">Currency:</label>
      <input name="currency" [(ngModel)]="updatedCompany.currency">
    
      <label for="logo">Logo:</label>
      <input name="logo" [(ngModel)]="updatedCompany.logo">
    
      <input type="submit" value="Update">
    </form>

  </div>
</mat-card> -->

<mat-card>
  <div class="container">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.name" placeholder="Company Name" value="{{updatedCompany.name}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.address1" placeholder="Address Line 1" value="{{updatedCompany.address1}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.address2" placeholder="Address Line 2" value="{{updatedCompany.address2}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.city" placeholder="City" value="{{updatedCompany.city}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.postal_code" placeholder="Zip / Postal Code" value="{{updatedCompany.postal_code}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.province" placeholder="State / Province" value="{{updatedCompany.province}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.country" placeholder="Country" value="{{updatedCompany.country}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.currency" placeholder="Currency" value="{{updatedCompany.currency}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="updatedCompany.logo" placeholder="Logo URL" value="{{updatedCompany.logo}}">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="updateCompany(updatedCompany)">Save</button>

  </div>
</mat-card>
