<mat-toolbar color="primary">
  
  <!-- menu button on lhs of toolbar toggles display of sidenav -->
  <button mat-icon-button>
  <!-- <button mat-icon-button (click)="sidenav.toggle()"> -->
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span class="example-fill-remaining-space"></span> -->
  
  <!-- app name -->
  <span>Side Hustle</span>

  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<!-- user profile icon menu options -->
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Change Password</button>
  <button mat-menu-item>Sign Out</button>
</mat-menu>

