<mat-card>
  <div *ngIf="oneCustomer">

    <mat-form-field>
      <input matInput readonly="true" placeholder="CustomerID" value="{{oneCustomer.customer.id}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Company ID" value="{{oneCustomer.customer.company_id}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Customer Name" value="{{oneCustomer.customer.name}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Address Line 1" value="{{oneCustomer.customer.address1}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Address Line 2" value="{{oneCustomer.customer.address2}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="City" value="{{oneCustomer.customer.city}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Zip / Postal Code" value="{{oneCustomer.customer.postal_code}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Country" value="{{oneCustomer.customer.country}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Currency" value="{{oneCustomer.customer.currency}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Email" value="{{oneCustomer.customer.email}}">
    </mat-form-field>

  </div>
</mat-card>
