<mat-card>
  <div *ngIf="oneCustomer">

    <mat-form-field>
      <input matInput readonly="true" placeholder="Customer Name" value="{{oneCustomer.company.name}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Address Line 1" value="{{oneCustomer.company.address1}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Address Line 2" value="{{oneCustomer.company.address2}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="City" value="{{oneCustomer.company.city}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Zip / Postal Code" value="{{oneCustomer.company.postal_code}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Country" value="{{oneCustomer.company.country}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Currency" value="{{oneCustomer.company.currency}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput readonly="true" placeholder="Email" value="{{oneCustomer.company.email}}">
    </mat-form-field>

  </div>
</mat-card>
