/* SIDENAV START */

mat-sidenav {
    color: #616161;
    width: 200px;
    /* top: 56px; */
  }
  
  .sidenav-menu {
    line-height: 48px;
    padding: 0 8px 52px 0;
    width: 192px;
  }
  
  .sidenav-list {
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding: 0 0 8px 0;
  }
  
  .sidenav-list-item {
    /* border-radius: 2px; */
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 12px 0 12px;
    /* padding-left: 16px;
    padding-right: 12px; */
    /* vertical-align: middle; */
    width: 170px;
    display: flex;
    align-items: center;
  }
  
  .sidenav-list-item:hover {
    background-color: rgba(0, 0, 0, .05
    );
  }
  
  .sidenav-list-item-icon {
    background-position: center;
    background-size: 24px;
    height: 24px;
    width: 24px;
    /* vertical-align: middle; */
  }
  
  .sidenav-list-item-text {
    display: inline-block;padding-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex: 1;
    flex: 1;
    /* -webkit-flex: 1;
    flex: 1; */
  }
  /* format sidenav items */
  .sM {
    display: inline-block;
    padding-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex: 1;
    flex: 1;
  }
  
  /* SIDENAV END */
  