<mat-sidenav-container class="sidenav-container">
  
  <!-- sidenav content -->
  <!-- <mat-sidenav mode="side" #sidenav opened="false"> -->
  <mat-sidenav mode="side" #sidenav opened='false'>
  <!-- <mat-sidenav mode="side" #sidenav opened="{{sidenavState | async }}"> -->
    <div class="sidenav-menu">
      <ul class="sidenav-list">
        <li class="sidenav-list-item" routerLink="/home">
          <i class="material-icons sidenav-list-item-icon">home</i>
          <span class="sidenav-list-item-text">Home</span>
        </li>
        <li class="sidenav-list-item" routerLink="/companies">
          <i class="material-icons sidenav-list-item-icon">business</i>
          <span class="sidenav-list-item-text">Companies</span>
        </li>
        <li class="sidenav-list-item">
          <i class="material-icons sidenav-list-item-icon">people</i>
          <span class="sidenav-list-item-text">Customers</span>
        </li>
        <li class="sidenav-list-item">
          <i class="material-icons sidenav-list-item-icon">book</i>
          <span class="sidenav-list-item-text">Projects</span>
        </li>
        <li class="sidenav-list-item">
            <i class="material-icons sidenav-list-item-icon">assignment</i>
          <span class="sidenav-list-item-text">Quotes</span>
        </li>
      </ul>
      <ul class="sidenav-list">
        <li class="sidenav-list-item">
            <i class="material-icons sidenav-list-item-icon">settings</i>
            <span class="sidenav-list-item-text">Settings</span>
          </li>
      </ul>
    </div>
  </mat-sidenav>
  
  <!-- area to the right of the sidenav for all other components to appear -->
  <!-- kinda weird but the docs insist this be inside the mat-sidenav-container -->
  <div class="example-scrolling-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
