<div class="container">
  <h3>Sign In</h3>
  <input [(ngModel)]="user.email" type="text" placeholder="Email"/>
  <input [(ngModel)]="user.password" type="password" placeholder="Password"/>
  <input (click)="signIn()" type="submit" value="Sign in"/>

  <div *ngIf="auth.user" class="container">I see a user!!! <strong>{{auth.user.email}}</strong></div>

</div>

<!-- <div class="container">

  <mat-card class="auth-form">
  
  <mat-card-header>
    <mat-card-title>
      <h3>Sign in</h3>
    </mat-card-title>
    <mat-card-subtitle>with your Side Hustle account</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>

    <form class="example-form">
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [(ngModel)]="user.email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your password" [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

      </form>

  </mat-card-content>

  <mat-card-actions>
      <button (click)="signIn()" mat-raised-button color="primary">Sign in</button>
  </mat-card-actions>

</mat-card>

</div> -->